@import './base.css';

#app {
    @apply flex w-full max-w-screen-2xl;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

@layer components {
    .btn {
        @apply border px-3 py-2 rounded-full border-none hover:shadow-inner hover:shadow-black-mute hover:bg-white-mute hover:text-black-mute duration-100 ease-in-out;
    }
}